# General
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.tsbuildinfo

# Python
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node / frontend
node_modules/
dist/
build/
/frontend/vite.config.js
/frontend/vite.config.d.ts

# Databases / generated data
*.sqlite3
*.db
*.dump
large_data/
*.csv

# OS
.DS_Store
Thumbs.db
